* {
  padding: 0;
  margin: 0;
}
html,
body {
  font-size: 13px;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.container {
  width: calc(100%-4rem);
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem;
}
.search {
  width: 20px;
  height: 20px;
  position: relative;
  left: -4rem;
  top: -0.5rem;
}
.search img {
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: relative;
  left: -4rem;
  top: -0.5rem;
}
.data input {
  height: 25px;
  padding: 0 0 0 1rem;
  /* box-shadow: 0px 0px 30px rgba(227,228,237,0.37); */
  width: calc(100% - 4rem);
  height: 3rem;
  border-radius: 1rem;
  margin: 0 2rem;
  border: 0.1rem solid rgb(0, 0, 0);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.58);
}
.data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 0.1rem solid rgb(0, 0, 0);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.58);
  border-radius: 2rem;
  padding: 1.5rem 0 ;
}
.data button {
  background-color: transparent;
  border: none;
  position: relative;
  top: -2rem;
  left: 24rem;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}
.attendancedetail {
  width: 100%;
  height: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 1rem 1rem;
}
form {
  width: 100%;
  height: 80%;
}
p {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.detail{
  /* width: 100%; */
  text-align: center;
  padding: 2rem 0 0 0;
  border: 0.1rem solid rgb(0, 0, 0);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.58);
  border-radius: 2rem;
  margin: 1rem 0;
  padding: 1rem 0;
}
.status {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 0;

}
.status button {
  font-size: 1.5rem;
  width: 40%;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2.5px solid rgb(2, 2, 2);
  color: rgb(255, 9, 9);
}
button:hover{
  cursor: pointer;
}
.final{
  border: 0.1rem solid rgb(0, 0, 0);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.58);
  border-radius: 2rem;
  margin: 3rem 2rem;
  padding: 1rem 0 ;

}
.final,.change{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.change{
  flex-direction: row;
  justify-content: space-evenly;
}
.change button{
  width: 25%;
  height: 2.5rem;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: transparent;
}
.absent:hover{
  background-color: rgba(251, 0, 0, 0.5);
}
.present:hover{
  background-color: rgba(0, 128, 0, 0.5);
}
@media(min-width:1440px){
.attendancedetail{
  display: grid;
  grid-template-columns: 50% 50%;
}
.detail{
  margin: 1rem 2rem;
  padding: 1rem ;
}
.data button {
  left:123rem;
  top:-2.2rem;
}
}